*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/node_modules
vendor
fastlane/play_store_credentials.json
fastlane/report.xml
app-release.aab
firestore-debug.log
firebase-debug.log
firebase-build
ui-debug.log
play-store.json
