body {
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #a71414;
    color: white;
    padding: 6px;
}

#header h1 {
    font-size: 20px;
    text-align: center;
}

#message {
    background: white;
    max-width: 640px;
    margin: 100px auto 16px;
    padding: 32px 24px 16px;
    border-radius: 3px;
}

#message h3 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
    margin: 16px 0 12px;
}

#message h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    margin: 0 0 16px;}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message ul {
    line-height: 140%;
    font-size: 14px;
}

#message a:not(.button) {
    color: #039be5;
}

#message a.button {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a.button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#footer {
    color: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 13px;
}

#footer a, #footer a:visited {
    color: #000;
}

.main-screenshot {
    width: 30%;
    float: left;
    margin-right: 16px;
}

.clear {
    clear: both;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}
